body {
    margin: 0;
    background: darkgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    display: block;
    height: 100vh;
    width: 25vw;
}

.introduction p {
    top: 0;
    padding: 0 10px;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    padding: 0 2px;
}


button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

#carCanvas {
    background: lightgrey;
}

button:hover{
    background: blue;
}

#networkCanvas {
    background: black;
}